[user]
	email = beau@beaumccartney.xyz
	name = Beau McCartney
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[rebase]
    autoStash = true
[push]
	default = current
[github]
	user = BeauSLM
[gitlab]
	user = BeauSLM
